body{
    background-image: url("background.png");
    font-family: Verdana, Tahoma, sans-serif;
    width: 100%;
}
dl{
    padding: 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    text-align: left;
}
dt{
    font-weight: bold;
    margin-top: 10pt;
}
ul{
    list-style: none;
}
h1{
    text-align: center;
    font-size: 24pt bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}
q{
    float:left;
    text-align: left;
}
.top_banner{
    background-image: url("bannerbg.png");
    background-repeat: repeat-x;
    height: 50px;
    text-align: center;
}
.left_bar{
    text-align: left;
    background-image: url("rbg.png");
    background-repeat: repeat-x;
    height: 83px;
    font-size: 48pt;
    color:red;
    width:100%;
    line-height: 1em;
}
.w3c{
    position:fixed;
    bottom:0px;
    right: 0px;
    opacity: 0.5;
}
body>div>div.last{
    background-color: #A2B964;
    width:800px;
    height:15px;
    font-size: 15px;
    bottom:0px;
}
.left{
    width: 550px;
    float: left;
}
.right{
    width:250px;
    float: right;
    overflow: hidden;
    background-color: #A2B964;
}
.overall_content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
    border: 4px gray solid;
    border-radius: 20px;
    overflow: auto;
}
.review_content{
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border:2px gray solid;
    border-radius: 10px;
    overflow: hidden;
    padding:8px;
    word-wrap: break-word;
}
.box{
    width:47%;
    text-align:justify;
    margin:2%;
}
img[src*="rottenbig.png"]{
    vertical-align:middle;
    height:83px;
}
img[src*="fresh.gif"], img[src*="rotten.gif"]{
    margin:5px;
    float:left;
}

img[src*="critic.gif"]{
    margin-left: 5px;
    float: left;
}
p:last-child{
    color: red;
}
body>div>div>div:nth-child(2n+2){
    float:right;
}
